html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
  margin: 0;
}

section {
  padding: 50px 0;
}

/* make images responsive */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Public Sans", sans-serif, Arial !important;
  font-size: 18px;
  line-height: 1.3;
}

p {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.875rem;
}

hr {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}

h1 {
  font-family: "Public Sans";
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}

h2 {
  font-family: "Public Sans";
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}

h3 {
  font-family: "Public Sans";
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}

h4 {
  font-family: "Public Sans";
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}

h5,
h6 {
  font-size: 2.2em;
  font-weight: 400;
}

:root {
  --color-primary-dark-blue: hsl(233, 26%, 24%);
  --color-primary-lime-green: hsl(136, 65%, 51%);
  --color-primary-bright-cyan: hsl(192, 70%, 51%);

  --color-neutral-grayish-blue: hsl(233, 8%, 62%);
  --color-neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --color-neutral-very-light-gray: hsl(0, 0%, 98%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

header {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: var(--color-neutral-white);
}

main {
  overflow: hidden;
}

/* footer {
  background-color: var(--color-primary-dark-blue)
} */

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.desktop-nav {
  display: none;
}
.mobile-nav {
  display: block;
}

.link,
.link-long {
  color: var(--color-neutral-grayish-blue);
  text-decoration: none;
}

.hero--bg,
.articles--bg {
  background-color: var(--color-neutral-very-light-gray);
}

.easybank--bg {
  background-color: var(--color-neutral-light-grayish-blue);
}

.footer-bg {
  background-color: var(--color-primary-dark-blue);
}

.hero__text {
  max-width: 600px;
  text-align: center;
}

.hero__text h1 {
  font-size: 2rem;
  margin-bottom: 1.175rem;
}

.easybank__text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.easybank__online-text h3,
.easybank__budgeting-text h3,
.easybank__onboarding-text h3,
.easybank__api-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.articles__text h4 {
  font-size: 1.1rem;
  padding-bottom: 1rem;
  padding-top: 0.7rem;
  margin-bottom: 0;
}

.articles__text--normal {
  font-size: 0.938rem;
  margin-bottom: 0;
}

.articles__text--small {
  font-weight: 300;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.articles .container h2 {
  font-size: 2rem;
  text-align: center;
}

.hero__text h1,
.easybank__text h2,
.easybank__online-text h3,
.easybank__budgeting-text h3,
.easybank__onboarding-text h3,
.easybank__api-text h3,
.articles .container h2 {
  color: var(--color-primary-dark-blue);
}

.hero__text p,
.easybank__text p,
.easybank__online-text p,
.easybank__budgeting-text p,
.easybank__onboarding-text p,
.easybank__api-text p,
.articles__text p {
  color: var(--color-neutral-grayish-blue);
}

.site-button {
  border: none;
  border-radius: 2rem;
  font-family: inherit;
  font-size: 14px;
  padding: 0.8rem 2rem;
  background: linear-gradient(
    90deg,
    var(--color-primary-lime-green),
    40%,
    var(--color-primary-bright-cyan)
  );
  color: var(--color-neutral-white);
  font-weight: 600;
  text-shadow: 0 0px 10px #000;
  transition: 0.2s ease-in-out;
}

.site-button:hover {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.mobile-nav-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.hero-flex-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  align-content: center;
  position: relative;
}

.hero__image {
  margin-bottom: 1rem;
  position: relative;
}

.hero__image img {
  margin-top: -197px;
}

.hero__text {
  max-width: 450px;
  position: relative;
}


.easybank__icon-img {
  margin-bottom: 1.5rem;
}

.easybank__text {
  margin: 0 auto;
  text-align: center;
}

.easybank-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 4.688rem;
}

.easybank__icon-img img {
  margin: 0 auto;
}

.easybank-flex > * + * {
  margin-top: 1rem;
}

.articles-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  margin: 0 auto;
  max-width: 400px;
}

.articles__card {
  background-color: var(--color-neutral-white);
}

.articles__card + .articles__card {
  margin-top: 1.5rem;
}

.articles__image {
  height: 15rem;
  width: 100%;
  overflow-y: hidden;
}

.articles__image img {
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.articles__text {
  padding: 2rem;
}

.articles__text-link {
  color: var(--color-primary-dark-blue);
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.articles__text-link:hover {
  color: var(--color-primary-lime-green);
  transition: color 0.25s ease-in-out;
}

footer {
  padding: 45px 0;
}

.footer-container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-flex-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.footer__branding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__branding > * + * {
  margin-top: 2rem;
}

.footer__branding-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__branding-social a + a {
  margin-left: 1rem;
}

.footer__branding-social svg * {
  transition: 0.3s ease-in-out;
}

.footer__branding-social svg:hover * {
  fill: #31d35c;
  transition: 0.3s ease-in-out;
}

.footer-flex-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
  font-size: 1rem;
}

.footer__nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--color-neutral-white);
}

.footer__nav-links a {
  text-decoration: none;
  color: var(--color-neutral-white);
  transition: 0.2s ease-in-out;
  padding-top: 1rem;
}

.footer__nav-links a:hover {
  color: var(--color-primary-lime-green);
  transition: 0.2s ease-in-out;
}

.footer__nav-links + .footer__nav-links {
  margin-top: 1rem;
}

.footer__invite {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  color: var(--color-neutral-grayish-blue);
  margin-bottom: 0;
  font-size: 0.938rem;
}

.footer__nav-item + .footer__nav-item {
  padding-top: 1rem;
}

.footer__invite > * + * {
  margin-top: 2rem;
}

.hero-flex-container::before {
  position: absolute;
  content: "";
  background-image: url(./images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  left: -10%;
  background-size: 100%;
  right: -30%;
  top: -32%;
  height: 955px;
  width: 120%;
  z-index: 0;
}

.easybank-text-container {
  max-width: 400px;
}

@media (min-width: 375px) {
  .hero__image img {
    margin-top: -165px;
  }

  .hero__text h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 414px) {
  .hero__image img {
    margin-top: -175px;
  }

  .hero__text h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  section {
    padding: 75px 0;
  }
  .hero__image img {
    margin-top: -310px;
  }
  .hero__text h1 {
    font-size: 3.5rem;
  }

  .hero__text {
    max-width: 500px;
  }

  .easybank__text {
    max-width: 450px;
  }

  .articles .container h2 {
    font-size: 2.5rem;
  }

  .articles-flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
  }

  .articles__card {
    max-width: 300px;
  }

  .articles__card + .articles-two {
    margin-top: 0;
  }

  .articles-two,
  .articles-four {
    margin-left: 2rem;
  }

  .articles-three,
  .articles-four {
    margin-top: 2rem;
  }

  .easybank-flex {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 650px;
    align-items: stretch;
    margin: 0 auto;
  }

  .easybank-card {
    margin: 0 auto;
    max-width: 290px;
  }

  .easybank-flex > * + * {
    margin-top: 0;
  }

  .footer-flex-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .footer-flex-nav-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .footer__nav {
    flex-direction: row;
    padding: 0;
  }

  .footer__nav-links + .footer__nav-links {
    margin-top: 0rem;
    margin-left: 2rem;
  }

  .footer__nav-links {
    align-items: flex-start;
  }

  .footer__invite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer__branding {
    align-items: flex-start;
    margin-right: 2rem;
  }

  .footer__branding > * + * {
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero__image img {
    margin-top: -310px;
  }

  .hero__text h1 {
    font-size: 3.5rem;
  }

  .hero__text {
    max-width: 500px;
  }

  .articles-flex-container {
    max-width: 750px;
  }

  .footer__nav-links + .footer__nav-links {
    margin-left: 7rem;
  }

  .footer__branding {
    margin-right: 5rem;
  }

}

@media (min-width: 1200px) {
  section {
    padding: 100px 0;
  }
  .desktop-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .hero__text h1 {
    font-size: 3.5rem;
    margin-bottom: 1.875rem;
  }
  .easybank__text h2 {
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
  }

  .easybank__online-text h3,
  .easybank__budgeting-text h3,
  .easybank__onboarding-text h3,
  .easybank__api-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
  }

  .articles__text h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .nav-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .nav__list a {
    transition: 0.2s ease-in-out;
  }

  .nav__list a:hover {
    color: var(--color-primary-lime-green);
    transition: 0.2s ease-in-out;
  }

  .nav-item {
    position: relative;
  }

  .nav__item + .nav__item {
    margin-left: 1.5rem;
  }

  .nav__list--primary {
    margin: 0 auto;
  }

  .link {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .link:before {
    content: "";
    position: absolute;
    height: 3px;
    top: 57px;
    width: 0;
    background: linear-gradient(
      90deg,
      var(--color-primary-lime-green),
      50%,
      var(--color-primary-bright-cyan)
    );
    transition: 0.2s ease-in-out;
  }

  .link:hover.link:before {
    width: 53px;
    transition: 0.2s ease-in-out;
  }

  .link-long:before {
    content: "";
    position: absolute;
    height: 3px;
    top: 57px;
    width: 0;
    background: linear-gradient(
      90deg,
      var(--color-primary-lime-green),
      50%,
      var(--color-primary-bright-cyan)
    );
    transition: 0.2s ease-in-out;
  }

  .link-long:hover.link-long:before {
    width: 67px;
    transition: 0.2s ease-in-out;
  }

  .hero {
    min-height: 655px;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .hero-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .hero__text {
    flex: 0 1 28rem;
    text-align: left;
  }

  .hero__image {
    position: relative;
    margin-bottom: 0;
  }

  .hero__image img {
    position: absolute;
    margin-top: -450px;
    transform: translateX(238px);
    right: 0;
    max-width: none;
  }

  .easybank-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
    flex: 1 0 100%;
    flex-wrap: nowrap;
    max-width: none;
    margin-top: 4.688rem
  }

  .easybank__icon-img {
    margin-bottom: 2.5rem;
  }

  .easybank-flex > * + * {
    margin-left: 3.5rem;
  }

  .easybank__text {
    max-width: none;
    text-align: left;
  }

  .easybank__text h2 {
    margin-bottom: 1.875rem;
  }

  .easybank__icon-img img {
    margin: 0;
  }

  .easybank-flex > * + * {
    margin-top: 0rem;
  }

  .easybank__text p {
    max-width: 650px;
  }

  .articles__card + .articles__card {
    margin-top: 0rem;
    margin-left: 2rem;
  }

  .articles__card {
    max-width: none;
  }

  .articles-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    max-width: none;
    flex-wrap: nowrap;
  }


  .articles .container h2 {
    text-align: left;
  }

  .hero-flex-container::before {
    position: absolute;
    content: "";
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    left: unset;
    background-size: 107%;
    right: -40%;
    top: -130%;
    height: 915px;
    width: 100%;
    z-index: 0;
  }

  .footer__nav-links + .footer__nav-links {
    margin-left: 10rem;
  }

  .footer__branding {
    align-items: flex-start;
    margin-right: 10rem;
  }
}
