html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
span {
  padding: 0;
  margin: 0;
}

:root {
  --color-primary-bright-red: hsl(12, 88%, 59%);
  --color-primary-dark-blue: hsl(228, 39%, 23%);

  --color-neutral-dark-grayish-blue: hsl(227, 12%, 61%);
  --color-neutral-very-dark-blue: hsl(233, 12%, 13%);
  --color-neautral-very-pale-red: hsl(13, 100%, 96%);
  --color-neutral-very-light-grey: hsl(0, 0%, 98%);
}

/* mobile padding top and bottom sections */
section {
  padding: 35px 0;
}

header {
  padding: 35px 0;
}

footer {
  padding-top: 35px;
}

/* make images responsive */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Be Vietnam", sans-serif, Arial !important;
  font-size: 16px;
  line-height: 1.3;
}

p {
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  line-height: 1.8;
  color: var(--color-neutral-dark-grayish-blue);
}

hr {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}

h1 {
  font-family: "Be Vietnam";

  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary-dark-blue);
}

h2 {
  font-family: "Be Vietnam";
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-primary-dark-blue);
}

h3 {
  font-family: "Be Vietnam";
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 4rem;
  color: var(--color-primary-dark-blue);
}

h4 {
  font-family: "Be Vietnam";
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-primary-dark-blue);
}

h5,
h6 {
  font-family: "Be Vietnam";
  margin: 0;
  font-size: 2.2em;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.site-button {
  font-family: "Be Vietnam", sans-serif, Arial;
  font-weight: 700;
  font-size: 14px;
  color: #f4f4f4;
  background-color: var(--color-primary-bright-red);
  border: 1px solid var(--color-primary-bright-red);
  border-radius: 2rem;
  padding: 0.8rem 2.2rem;

}

#hero {
  padding: 50px 0;
}

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__list {
  list-style: none;
}

.nav__list-flex {
  display: flex;
  flex-direction: row;
}

.hero-flex-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

.hero__text {
  max-width: 50ch;
}

.hero__image {
  background: url(./images/bg-tablet-pattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bullet-point-desktop {
  display: none;
}

.whats-different-flex-container {
  display: flex;
  flex-direction: column;
}

.container-whats-different {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.whats-different__features {
  width: 93%;
  margin: 0 auto;
}

.whats-different__text--main {
  text-align: center;
}

.whats-different__text p {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  font-size: 0.9rem;
}

.whats-different__text p{
  max-width: 55ch;
}

.bullet-point {
  display: inline-block;
  color: #f4f4f4;
  padding-top: 0.5rem;
  padding-right: 1.3rem;
  padding-bottom: 0.5rem;
  padding-left: 1.3rem;

  margin-right: 0.7rem;

  border-radius: 1rem;
  background-color: var(--color-primary-bright-red);
}

.whats-different__text h4 {
  background-color: var(--color-neautral-very-pale-red);
  color: var(--color-primary-dark-blue);
  border-radius: 1rem 0 0 1rem;
}

/* make testimonial image appear like it is overflowing slider container.
   negative margins wouldn't work because slider.js makes the slider-continer overflow: hidden
   by default.
*/

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: var(--color-neutral-very-light-grey);

  text-align: center;

  margin-bottom: 3rem;
  display: flex;
}

.testimonial-slide-container img {
  max-width: 75px;
}

.testimonial-slide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(0px);
  height: 100%;
  margin: 0 auto;
}

.testimonial__text {
  text-align: center;
  margin-bottom: 4rem;
}

.testimonial-slide-container::before {
  content: "";
  position: absolute;
  width: 375px;
  height: 40px;
  background: #fff;
  transform: translate(0%, -290%);
  z-index: -1;
}

.testimonial-slide__text {
  padding-top: 1rem;
  max-width: 325px;
}

.testimonial__button {
  text-align: center;
  margin-top: 3rem;
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
}

#simplify-team {
  background: url(./images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-color: var(--color-primary-bright-red);
  padding: 100px 0;
}

.simplify-team-header {
  color: #f4f4f4;
}

.simplify-team-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.site-button--accent {
  font-family: "Be Vietnam", sans-serif, Arial;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-primary-bright-red);
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 2rem;
  padding: 0.8rem 2.2rem;
}

footer {
  background: var(--color-neutral-very-dark-blue);
}

.site-button-footer {
  font-family: "Be Vietnam", sans-serif, Arial;
  font-weight: 700;
  font-size: 14px;
  color: #f4f4f4;
  background-color: var(--color-primary-bright-red);
  border: 1px solid var(--color-primary-bright-red);
  border-radius: 2rem;
  padding: 0.6rem 1.75rem;
}

.inbox-input {
  font-family: "Be Vietnam", sans-serif, Arial;
  font-size: 12px;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 2rem;
}

.footer-nav-list {
  list-style: none;
}

@media (min-width: 375px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.9rem;
  }
  .site-button--accent {
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }

  .swiper-button-next {
    display: block;
  }

  .swiper-button-prev {
    display: block;
  }

  section {
    padding: 50px 0;
  }

  header {
    padding: 50px 0;
  }

  footer {
    padding-top: 50px;
  }

  .bullet-point-desktop {
    display: block;
    color: #f4f4f4;
    padding-top: 0.6rem;
    padding-right: 1.3rem;
    padding-bottom: 0.6rem;
    padding-left: 1.3rem;
  
    border-radius: 2rem;
    background-color: var(--color-primary-bright-red);
    align-self: flex-start;
    font-weight: 700;
  }

  .whats-different-flex-container {
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .whats-different-features-container {
    display: flex;
    flex-direction: row;
  }
  
  .whats-different__text--main {
    text-align: left;
  }

  .whats-different__text--main p {
    max-width: 350px;
  }

  .whats-different-features-container > * + * {
    margin-left: 1rem;
  }

  .container-whats-different {
    width: auto;
    max-width: 500px;
    margin: 0;
  }

  .whats-different__features {
    width: auto;
    max-width: none;
    margin: 0;
    max-width: 460px;
  }

  .whats-different__text h4 {
    background-color: transparent;
    border-radius: 0;
  }

  .bullet-point {
    display: none;
  }

  .hero-flex-container {
    flex-direction: row;
    text-align: left;
  }

  .hero__text {
    max-width: 500px;
    margin: 0 auto;
  }

}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }

  #simplify-team {
    background: url(./images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-primary-bright-red);
    padding: 50px 0;
  }

  .simplify-team-flex {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }

  .simplify-team-header {
    max-width: 500px;
  }

  .site-button--accent {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .nav-flex-container {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* body::before {
    position: absolute;
    content: "";
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    height: 814px;
    width: 814px;
    left: unset;
transform: translateY(-100px);
transform: translateX(900px);
    z-index: -1;
  } */

  .hero-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero__text {
    max-width: 500px;
  }

  .hero__text p {
    max-width: 350px;
  }

  .hero__image {
    background: url(./images/bg-tablet-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
