html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
span {
  padding: 0;
  margin: 0;
}

/* make images responsive */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

/* create a dashed box around focused elements */

:focus {
  outline: 2px dashed var(--color-primary-dark-blue);
  outline-offset: 0.25rem;
}

/* make an element fill the entire width of the webpage, and make it horizontally center. */
.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline-block;
  text-decoration: underline;
  color: blue;
}

picture {
  display: block;
}

li {
  list-style: none;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;            /* 3 */
}

:root {
  --color-primary-cyan: #2bd0d0;
  --color-primary-dark-violet: #3a3054;

  --color-secondary-red: #f46363;

  --color-neutral-white: #eff1f7;
  --color-neutral-gray: #bfbfbf;
  --color-neutral-gray-violet: #9e9aa8;
  --color-neutral-very-dark-blue: #34313d;
  --color-neutral-very-dark-violet: #232127;
}

/* mobile padding top and bottom for sections */
section {
  padding: 35px 0;
}

header {
  padding: 35px 0;
}

footer {
  padding: 60px 0;
}

body {
  font-family: "Poppins", sans-serif, Arial !important;
  font-size: 18px;
  line-height: 1.3;
}

p {
  display: block;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
  line-height: 1.8;
  color: var(--color-neutral-gray-violet);
}

hr {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}

h1 {
  font-family: "Poppins";
  font-size: 2.625rem;
  font-weight: 700;
  color: var(--color-neutral-very-dark-blue);
}

h2 {
  font-family: "Poppins";
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-neutral-very-dark-blue);
}

h3 {
  font-family: "Poppins";
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--color-neutral-very-dark-blue);
}

h4 {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF;
}

h5,
h6 {
  font-family: "Poppins";
  margin: 0;
  font-size: 2.2em;
  font-weight: 400;
}

.hamburger {
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

main {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.mobile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.desktop-logo {
  display: none;
}

.nav-list {
  list-style: none;
  position: relative;
}

.nav-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  height: 0px;
  background-color: var(--color-primary-dark-violet);
  width: 330px;
  margin: 0 auto;
  border-radius: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 90px;
  overflow-y: hidden;
}

.nav-container-flex > * + * {
  padding-top: 30px;
}

.nav-item + .nav-item {
  padding-top: 30px;
}

.nav-link {
  font-size: 1.15rem;
  font-weight: 700;
  color: #f4f4f4;
}

.nav-button {
  background: var(--color-primary-cyan);
  border: 1px solid var(--color-primary-cyan);
  border-radius: 2rem;
  padding: 0.7rem 6.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: #f4f4f4;
}

.nav-line::after {
  content: "";
  position: absolute;
  opacity: 0.4;
  border-bottom: 1px solid var(--color-neutral-gray-violet);
  width: 290px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.active {
  height: 380px;
  visibility: visible;
  opacity: 1;
}

#hero {
  margin-bottom: 10rem;
}

.hero-flex-container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.hero-flex-container > * + * {
  margin-bottom: 2.5rem;
}

.hero-text {
  color: var(--color-neutral-gray-violet);
}

.hero-text {
  margin: 0 auto;
  max-width: 30ch;
}

.hero-image img {
  max-width: 130%;
}

.get-started-button {
  border: 1px solid var(--color-primary-cyan);
  border-radius: 2rem;
  background-color: var(--color-primary-cyan);
  color: #f4f4f4;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: inherit;
  padding: 0.75rem 2.6rem;
}

.get-started-button:hover {
  background-color:#83ecec;
  border: 1px solid #83ecec;
}

#features {
  background-color: var(--color-neutral-white);
  position: relative;
  padding-bottom: 100px;
}

.shorten-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90px;
  background-position-y: -50px;
  background-color: var(--color-primary-dark-violet);

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.floating-box {
  position: absolute;
  width: 330px;
  top: -80px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.shorten-link-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 280px;
}

.shorten-link-input {
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  font-size: 16px;
  font-family: inherit;
  font-weight: inherit;
}

.shorten-link-input::placeholder {
  color: var(--color-neutral-gray-violet);
}

.shorten-link-button {
  border: 1px solid var(--color-primary-cyan);
  border-radius: 0.3rem;
  background-color: var(--color-primary-cyan);
  color: #f4f4f4;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: inherit;
  padding: 0.7rem 1rem;
}

.shorten-link-button:hover {
  background-color:#83ecec;
  border: 1px solid #83ecec;
}

.shorten-link-input + .shorten-link-button {
  margin-top: 1rem;
}

.advanced-statistics {
  margin-top: 150px;
}

.advanced-statistics-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
}

.statistics-main-text p {
  max-width: 45ch;
}

.statistics-main-text p {
  font-size: 1rem;
}

.cards-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.cards-logo {
  position: absolute;
  top: -50px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; */
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--color-primary-dark-violet);
}

/* CENTERING image -- use position: relative... or position: absolute... Does it matter? Both achieve the same result... ???  */
.cards-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand-recognition-card .cards-text {
  max-width: 25ch;
}

.detailed-records-card .cards-text {
  max-width: 25ch;
}

.customizable-card .cards-text {
  max-width: 25ch;
}

.brand-recognition-card {
  position: relative;
  background-color: #FFFFFF;
  padding: 1.5rem 2rem;
  border-radius: 7px;
}

.detailed-records-card {
  position: relative;
  background-color: #FFFFFF;
  padding: 1.5rem 2rem;
  border-radius: 7px;
}

.customizable-card {
  position: relative;
  background-color: #FFFFFF;
  padding: 1.5rem 2rem;
  border-radius: 7px;
}

.cards-text {
  margin-top: 3rem;
}

.cards-text p {
  font-size: 0.938rem;
}

.cards-container {
  position: relative;
  max-width: 330px;
  margin: 0 auto;
}

.cards-container > * + * {
  margin-top: 110px;
}

.cards-container::before {
  content: '';
  position: absolute;
  background-color: var(--color-primary-cyan);
  height: 1000px;
  width: 8px;
  top: 90px;
  left: 50%;
  margin-left: -4px;
}

#boost-links {
  padding: 120px 0;
}

.boost-links-bg {
  background: url(./images/bg-boost-mobile.svg);
  background-size: cover;
  background-color: var(--color-primary-dark-violet);
  background-repeat: no-repeat;
}

.boost-links-text h2 {
  color: #FFFFFF;
}

.boost-links-text {
  text-align: center;
}

.boost-links-text h2 + .get-started-button {
  margin-top: 30px;
}

footer {
  background-color: var(--color-neutral-very-dark-violet);
}

.nav-flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}


.resources-footer, .company-footer, .features-footer {
 margin-top: 3rem;
}

.footer-item {
  color: var(--color-neutral-gray);
  font-size: 0.938rem;
}

.footer-item a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-heading {
  margin-bottom: 0.8rem;
}

.footer-item:hover {
  color: var(--color-primary-cyan);
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 3rem;
}

.footer-social > * + * {
  margin-left: 1.5rem;
}

.footer-social svg:hover * {
  fill: var(--color-primary-cyan);
}


.output-container {
  margin-top: 100px;
}

.output-api-data {
  background-color: #FFFFFF;
  border-radius: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  overflow-x: hidden;
}

.output-api-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
}

.shortened-url-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}

.output-api-data::after {
  content: '';
  position: absolute;
  height: 1px;
  border: 1px solid var(--color-neutral-gray-violet);
  opacity: 0.25;
  width: 650px;
  top: 54px;
  right: 0;
  left: 0;
}

.original-url, .shortened-url {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.original-url-text {
  font-size: 1rem;
  color: var(--color-neutral-very-dark-blue);
  margin-bottom: 1rem;
  margin-top: 0;

}

.shortened-url-text {
  font-size: 1rem;
  color: var(--color-primary-cyan);
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.copy-button {
  border: 1px solid var(--color-primary-cyan);
  border-radius: 0.3rem;
  background-color: var(--color-primary-cyan);
  color: #f4f4f4;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  padding: 0.44rem 2rem;
  margin-top: 0.5rem;
}

.copy-button:hover {
  opacity: 0.5;
}

.shortened-url > * + * {
  margin-left: 0;
}

.output-container > * + * {
  margin-top: 1rem;
}

@media (min-width: 500px) {

  .output-api-data {

    max-width: 500px;
 
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  #boost-links {
    padding: 90px 0;
  }

  .statistics-main-text p {
    font-size: 1.125rem;
  }

  .mobile-wrapper {
    display: none;
  }

  .nav-line {
    display: none;
  }

  .desktop-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3rem;
  }

  .nav-list-primary,
  .nav-list-secondary {
    visibility: visible;
  }

  .nav-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
  }

  .nav-container-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    visibility: visible;
    height: auto;
    width: auto;
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
    overflow-y: auto;
  }

  .nav-container-flex > * + * {
    padding-top: 0;
  }

  .nav-item + .nav-item {
    padding-top: 0;
    margin-left: 2rem;
  }

  .nav-link {
    font-size: 0.938rem;
    font-weight: 700;
    color: var(--color-neutral-gray-violet);
  }

  .nav-button {
    background: var(--color-primary-cyan);
    border: 1px solid var(--color-primary-cyan);
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    font-size: 0.938rem;
    font-weight: 700;
    color: #f4f4f4;
  }

  .nav-flex {
    display: flex;
    flex-direction: row;
  }

  .hero-text p {
    font-size: 1.375rem;
  }

  .hero-text {
    max-width: 53ch;
  }

  .hero-flex-container {
    flex-direction: row;
    text-align: left;
  }
  
  .hero-flex-container > * + * {
    margin-bottom: 0;
    margin-left: 8rem;
  }

  .hero-image img {
    max-width: 150%;
  }

  #features {
    padding-bottom: 250px;
  }

  .shorten-link-form {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: auto;
    margin: 0 auto;
  }

  .shorten-link-container {
    flex-direction: row;
    /* justify-content: center; */
    padding-top: 3.3rem;
    padding-bottom: 3.3rem;
  }

  .floating-box {
    width: 1110px;
    top: -70px;
  }

  .shorten-link-input {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
  }

  .shorten-link-button {
    padding: 1rem 2.7rem;
    font-size: 1.25rem;
  }

  .shorten-link-input + .shorten-link-button {
    margin-top: 0;
    margin-left: 1rem;
  }

  .shorten-link-input::placeholder {
    font-size: 1.25rem;
  }


  .output-container {
    margin-top: 100px;
  }

  .output-api-data {
    background-color: #FFFFFF;
    border-radius: 0.3rem;
    max-width: 1110px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .output-container > * + * {
    margin-top: 1rem;
  }

  .output-api-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .output-api-data::after {
    display: none;
  }

  .original-url-text {
    font-size: 1.25rem;
    color: var(--color-neutral-very-dark-blue);
    margin-bottom: 0;
  }

  .shortened-url-text {
    font-size: 1.25rem;
    color: var(--color-primary-cyan);
    margin-top: 0;
  }

  .shortened-url-flex {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .shortened-url > * + * {
    margin-left: 1.5rem;
  }

  .copy-button {
    border: 1px solid var(--color-primary-cyan);
    border-radius: 0.3rem;
    background-color: var(--color-primary-cyan);
    color: #f4f4f4;
    font-size: 0.938rem;
    font-weight: 700;
    font-family: inherit;
    padding: 0.5rem 2rem;
    margin-top: 0;
  }


  .advanced-statistics {
    margin-top: 170px;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    max-width: none;
    margin: auto;
  }

  .cards-container > * + * {
    margin-left: 2rem;
    margin-top: auto;
  }

  .cards-container::before {
    content: '';
    position: absolute;
    background-color: var(--color-primary-cyan);
    height: 8px;
    width: 1000px;
    top: 160px;
    left: auto;
    margin-left: auto;
  }

  .cards-flex {
    display: block;
    text-align: start;
  }

  .detailed-records-card {
    transform: translateY(55px);
  }

  .customizable-card {
    transform: translateY(110px);
  }

  .boost-links-bg {
    background: url(./images/bg-boost-desktop.svg);
    background-color: var(--color-primary-dark-violet);
    background-repeat: no-repeat;
    background-size: cover;
  }


  .nav-flex-footer {
    flex-direction: row;
    text-align: start;
    align-items: start;
    justify-content: space-between;
  }

  .nav-flex-footer > * + * {
    margin-top: 0;
  }

  .footer-links-container-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-social {
    margin-left: 120px;
    margin-top: 0;
  }

  .resources-footer, .company-footer {
    margin-left: 100px;
  }

  .resources-footer, .company-footer, .features-footer {
    margin-top: 0;
   }


}