html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
a,
li,
span {
  margin: 0;
}

/* make images responsive */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif, Arial !important;
  font-size: 18px;
  line-height: 1.3;
}

p {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.5;
}

hr {
  border: none;
  background-color: rgba(145, 148, 161, 0.5);
  height: 1px;
  width: 650px;
}

h1 {
  font-family: "Rubik";
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-family: "Rubik";
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-family: "Rubik";
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

h4 {
  font-family: "Rubik";
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

h5,
h6 {
  margin: 0;
  font-size: 2.2em;
  font-weight: 400;
}

:root {
  --color-primary-soft-blue: hsl(231, 69%, 60%);
  --color-primary-soft-red: hsl(0, 94%, 66%);

  --color-neutral-gray-blue: hsl(229, 8%, 60%);
  --color-neutral-dark-blue: hsl(229, 31%, 21%);
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.site-button {
  font-family: "Rubik";
  font-size: 16px;
  background-color: var(--color-primary-soft-blue);
  color: #fff;
  border: 2px solid var(--color-primary-soft-blue);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.site-button:hover {
  background: transparent;
  color: var(--color-primary-soft-blue);
  transition: 0.3s ease-in-out;
}

.site-button--accent {
  font-family: "Rubik";
  background-color: var(--color-primary-soft-red);
  color: #fff;
  border: 2px solid var(--color-primary-soft-red);
  border-radius: 0.4rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  transition: 0.3s ease-in-out;
}

.site-button--accent:hover {
  background: #fff;
  color: var(--color-primary-soft-red);

  transition: 0.3s ease-in-out;
}

.site-button--accent:focus {
  outline: none;
}

.site-button--white {
  font-family: "Rubik";
  font-size: 16px;
  background-color: #f4f4f4;
  color: var(--color-neutral-dark-blue);
  border: 2px solid #f4f4f4;
  border-radius: 0.4rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.site-button--white:hover {
  background: transparent;
  color: var(--color-neutral-dark-blue);
  border: 2px solid var(--color-neutral-dark-blue);
  transition: 0.3s ease-in-out;
}

.desktop-nav {
  display: none;
}

.mobile-wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.hamburger-button {
  background: transparent;
  border: none;
  padding: 1rem;
}

.nav-links {
  text-decoration: none;
  color: var(--color-neutral-dark-blue);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 2rem;
  transition: 0.3s ease-in-out;
}

.nav-links:hover {
  color: var(--color-primary-soft-red);
  transition: 0.3s ease-in-out;
}

.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
}

.hero-flex-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 9rem;
  left: 25vw;
  width: 100rem;
  height: 40vw;
  background-color: var(--color-primary-soft-blue);
  border-radius: 100rem;
}

.hero__logo {
  padding-bottom: 5rem;
}

.hero__buttons > button + button {
  margin-left: 1rem;
}

.hero__text h1 {
  color: var(--color-neutral-dark-blue);
}

.hero__text p {
  color: var(--color-neutral-gray-blue);
}

.features {
  position: relative;
  overflow: hidden;
  height: 1300px;
  padding-bottom: 7rem;
}

.flex-container-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.features__nav-button {
  position: relative;
  background-color: transparent;
  color: var(--color-neutral-dark-blue);
  border: none;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  padding-left: 5em;
  padding-right: 5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.features__nav-button:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.features__text--narrow {
  max-width: 550px;
}

.features__nav {
  position: relative;
  justify-content: center;
  padding-bottom: 4rem;
  max-width: 550px;
}

.features__nav-button--is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 50%;
  border: none;
  height: 4px;
  transform: translate(50%);
  background-color: var(--color-primary-soft-red);
}

.features__nav-button--is-active {
  opacity: 1;
}

.straight-line {
  width: 100%;
  border-bottom: 1px solid var(--color-neutral-gray-blue);
  opacity: 0.4;
}

.features__bookmark-image {
  flex: 0 1 100%;
}

.features__bookmark-text {
  flex: 0 1 64%;
}

.features__display-none {
  opacity: 0;
}

.features__search-image {
  flex: 0 1 100%;
}

.features__search-text {
  flex: 0 1 70%;
}

.features__share-image {
  flex: 1 1 100%;
}

.features__share-text {
  flex: 0 1 66%;
}

.features__nav-button:focus {
  outline: none;
}

.features::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 37rem;
  right: 59vw;
  width: 100rem;
  height: 50vw;
  background-color: var(--color-primary-soft-blue);
  border-radius: 100rem;
}

.features__text {
  text-align: center;
  margin-bottom: 3rem;
}

.features__bookmark-text,
.features__search-text,
.features__share-text {
  padding-top: 6rem;
  text-align: center;
}

.features__search-text p {
  color: var(--color-neutral-gray-blue);
}

.features__search-text h2 {
  color: var(--color-neutral-dark-blue);
}

.features__bookmark-text h2 {
  color: var(--color-neutral-dark-blue);
}

.features__bookmark-text p {
  color: var(--color-neutral-gray-blue);
}

.features__share-text h2 {
  color: var(--color-neutral-dark-blue);
}

.features__share-text p {
  color: var(--color-neutral-gray-blue);
}

.download__text {
  text-align: center;
  padding-bottom: 2.5rem;
}

.download__text h2 {
  color: var(--color-neutral-dark-blue);
}

.download__text p {
  color: var(--color-neutral-gray-blue);
}

.desktop__cards-button {
  margin-top: 1.5rem;
}

.desktop__cards-button:hover {
  background: transparent;
  color: var(--color-primary-soft-blue);
}

.flex-container-desktop__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.desktop__cards-chrome {
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}

.desktop__cards-firefox {
  transform: translateY(4rem);
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}

.desktop__cards-opera {
  transform: translateY(8rem);
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}

.desktop__cards-chrome h3,
.desktop__cards-firefox h3,
.desktop__cards-opera h3 {
  color: var(--color-neutral-dark-blue);
}

.desktop__cards-chrome p,
.desktop__cards-firefox p,
.desktop__cards-opera p {
  color: var(--color-neutral-gray-blue);
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.faq {
  margin-top: 13rem;
}

.faq-container {
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.faq__item {
  position: relative;
}

.faq__item-arrow {
  position: absolute;
  top: 27px;
  right: 0px;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.faq__item-answer {
  margin-bottom: 1.5rem;
}

.faq__item-arrow path {
  transition: stroke 0.5s ease-in-out;
}

.faq__item button {
  transition: color 0.5s ease-in-out;
}

.active-arrow {
  transform: scaleY(-1);
}

.active-arrow path {
  stroke: var(--color-primary-soft-red);
}

.faq__item-question {
  width: 100%;
  background-color: transparent;
  color: black;
  border: none;
  box-shadow: none;
  padding-left: 0rem;
  padding-right: 0.7rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-size: 18px;
  color: var(--color-neutral-dark-blue);
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.faq__item-question:focus {
  outline: none;
}

.straight-line-features {
  width: 100%;
  max-width: 550px;
  border-bottom: 1px solid var(--color-neutral-gray-blue);
  opacity: 0.4;
}

.answer-one {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.answer-two {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.answer-three {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.answer-four {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.faq__item-answer--open {
  height: auto;
}

.button--red {
  color: var(--color-primary-soft-red);
}

.button--red:hover {
  color: var(--color-primary-soft-red);
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background: var(--color-primary-soft-blue);
  color: #fff;
}

.flex-container-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.newsletter__text {
  padding-bottom: 1.5rem;
}

.newsletter--accent-text {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 16px;
}

.newsletter--header-text {
  font-weight: 400;
}

.newsletter__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.email-address {
  border: none;
  border-radius: 0.5rem;
  padding: 1.3rem;
  margin-bottom: 1rem;
}

.email-address::placeholder {
  font-family: "Rubik";
  font-size: 18px;
  color: var(--color-neutral-gray-blue);
}

.contact-button {
  font-size: 16px;
  text-transform: none;
  padding: 1rem;
}

footer {
  background: var(--color-neutral-dark-blue);
}

.flex-container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.footer__logo {
  padding-bottom: 2rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 2rem;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.footer__icons img + img {
  margin-left: 2rem;
}

.footer__links-item {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.footer__links-item:hover {
  color: var(--color-primary-soft-red);
  transition: 0.3s ease-in-out;
}

.footer__links-item + .footer__links-item {
  padding-top: 1.5rem;
}

.footer__icons > * + * {
  margin-left: 2rem;
}
.footer__icons svg:hover * {
  fill: #fa5757;
  transition: 0.2s ease-in-out;
}

.footer__icons svg * {
  transition: 0.2s ease-in-out;
}


@media (min-width: 670px) {
  .features::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 36rem;
    right: 59vw;
    width: 100rem;
    height: 22rem;
    background-color: var(--color-primary-soft-blue);
    border-radius: 100rem;
  }
}

@media (min-width: 1024px) {
  .mobile-wrapper {
    display: none;
  }

  .desktop-nav {
    display: block;
    padding: 2rem 0;
  }

  .straight-line-features {
    display: none;
  }

  .flex-container-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .hero-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: left;
  }

  .hero::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 10rem;
    left: 66vw;
    width: 100rem;
    height: 23rem;
    background-color: var(--color-primary-soft-blue);
    border-radius: 100rem;
  }

  /* .faq-container {
    width: 80%;
    max-width: 550px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  } */

  .faq__text {
    text-align: center;
  }

  .faq__text h2 {
    color: var(--color-neutral-dark-blue);
  }

  .faq__text p {
    color: var(--color-neutral-gray-blue);
  }

  .hero-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .hero__text {
    flex: 0 1 100%;
  }

  .hero__text--narrow {
    max-width: 500px;
  }

  .hero__logo {
    flex: 0 1 130%;
    transform: translateX(120px);
  }

  .features {
    height: 950px;
  }

  .features__text--narrow {
    max-width: 550px;
  }

  .features__nav {
    position: relative;
    justify-content: center;
    width: 100%;
    padding-bottom: 4rem;
    max-width: none;
  }

  .features__nav-button--is-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 100%;
    border: none;
    height: 4px;
    transform: translate(50%);
    background-color: var(--color-primary-soft-red);
  }

  .features__nav-button {
    position: relative;
    background-color: transparent;
    color: var(--color-neutral-dark-blue);
    border: none;
    border-bottom: 1px solid rgba(145, 148, 161, 0.5);
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-top: none;

    opacity: 0.6;
  }

  .features__nav-button--is-active {
    opacity: 1;
  }

  .features::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 28rem;
    right: 63vw;
    width: 100rem;
    height: 22rem;
    background-color: var(--color-primary-soft-blue);
    border-radius: 100rem;
  }

  .features__bookmark-text,
  .features__search-text,
  .features__share-text {
    padding-top: 0;
    text-align: left;
  }

  .bookmark-button {
    border-top: none;
  }

  .features__bookmark-image {
    flex: 0 1 100%;
  }

  .features__bookmark-text {
    margin-left: 2rem;
    flex: 0 1 100%;
  }

  .features__display-none {
    display: none;
  }

  .features__search-image {
    flex: 0 1 100%;
  }

  .features__search-text {
    flex: 0 1 100%;
    margin-left: 2rem;
  }

  .features__share-image {
    flex: 1 1 100%;
  }

  .features__share-text {
    flex: 0 1 100%;
    margin-left: 2rem;
  }

  .download__text--narrow {
    max-width: 550px;
  }

  .flex-container-desktop__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .desktop__cards-firefox {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .newsletter--accent-text {
    padding-bottom: 2rem;
  }

  .newsletter__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .newsletter__input > * + * {
    margin-left: 2rem;
  }

  .email-address {
    flex: 0 1 100%;
    margin: 0;
  }

  .contact-button {
    flex: 0 1 40%;
  }

  .flex-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__flex-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 0;
    margin-left: 3rem;
  }

  .footer__logo {
    padding: 0;
  }

  .footer__icons {
    padding-top: 0;
  }

  .footer__links-item + .footer__links-item {
    padding-top: 0;
    margin-left: 2rem;
  }

}
