html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
a,
li,
span {
  margin: 0;
}

/* make images responsive */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif, Arial !important;
  font-size: 19px;
  line-height: 1.3;
}

p {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

hr {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}

h1 {
  font-family: "Roboto Slab";
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: bolder;
}

h2 {
  font-family: "Roboto Slab";
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Roboto Slab";
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h4 {
  font-family: "Roboto Slab";
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

h5,
h6 {
  margin: 0;
  font-size: 2.2em;
  font-weight: 400;
}

:root {
  --color-primary-soft-blue: hsl(231, 69%, 60%);
  --color-primary-soft-red: hsl(0, 94%, 66%);
  
  --color-neutral-gray-blue: hsl(229, 8%, 60%);
  --color-neutral-dark-blue: hsl(229, 31%, 21%);
}